<h1>Coach answer</h1>

<div class="question">
  <p><%= @question %></p>
  <em>-You</em>
</div>
<div class="answer">
  <p><%= @answer %></p>
  <em>-your coach</em>

</div>
<%= link_to "re-ask a question", ask_path %>
